@import"../node_modules/bootstrap/scss/bootstrap.scss";
@import"/node_modules/bootstrap/scss/functions";

$body-bg: #000;

$navbar-light-hover-color:#0000ff;
$navbar-light-active-color:#0000ff;
@import"../node_modules/bootstrap/scss/bootstrap.scss";


